.introHeader {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../img/hhs_header.jpeg) no-repeat center bottom;
    -webkit-filter: sepia(40%);
    background-size: cover;
    text-align: center;
    height: 500px;
}

.introHeaderBackground {
    background-size: cover;
    background-color: #4BC2F0;;
    color: white;
}

.introMessage {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    font-weight: 600;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.introMessage > h1, h2, h3 {
    font-weight: 600;
}

.custom-logo {
    width: 50px;
    margin-top: -14px;
}

.footer {
    margin-top: 50px;
    height: 100px;
    background-color: #8ccaee;
    color: white;
    font-weight: 600;
    bottom: 0px;
    width: 100%;
}

.footerContentList > li {
    display: block;
    float: left;
    padding: 10px;
}

.footerContentList > li > a {
    text-decoration: none;
    color: #444;
}

.footerContentList > li > a:hover {
    color: white;
}

.footerContentList > li:active {
    color: white;
    font-weight: 600;
}
