<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-5 col-lg-offset-4">
                    <div class="footerContent">
                        <ul class="footerContentList">
                            <li [class.active]="getLinkStyle('/contact')"><a [routerLink]="['Contact']">Kontakt</a></li>
                            <li [class.active]="getLinkStyle('/impressum')"><a [routerLink]="['Impressum']">Impressum</a></li>
                            <li [class.active]="getLinkStyle('/dataprotection')"><a [routerLink]="['DataProtection']">Datenschutz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
